.notice {
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: white;
    margin-top: 2px;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
  }

  .notice-name {
      font: 20px;
      font-weight: bold;
  }

  .notice-description {
    inline-size: 300px;
    overflow-wrap: break-word;
  }

